
<div class="panel-header">Student Detail</div>
    <div class="panel-body forms">
	     <form action="#">
		      <md-content layout-padding> 
		         <span class="input-label">Name</span>
		         <md-input-container>
		            <input type="text"	ng-model="Name" required="">
		         </md-input-container> 
		         
		         <span class="input-label">Phone Number</span>
		         <md-input-container>
		            <input type="text"	ng-model="exactSONumber" required="">
		         </md-input-container> 
		         
		         <span class="input-label">Degree</span>
		         <md-input-container>
		            <input type="text"	ng-model="exactSONumber" required="">
		         </md-input-container> 
		         
		         <span class="input-label">Course</span>
		         <md-input-container>
		            <input type="text"	ng-model="exactSONumber" required="">
		         </md-input-container> 
		         
		         <span class="input-label">Amount</span>
		         <md-input-container>
		            <input type="text"	ng-model="exactSONumber" required="">
		         </md-input-container> 
		            <md-button class="md-raised md-primary"> Submit</md-button>
		      </md-content>
	      </form>

</div>