
 <table class="invoice-table" style="width: 100%; margin-top: 15px;">
			<thead>
				<tr>
				    <th class="table-header" style="border-left: 1px solid #C7C7CB;">Reg No</th>
					<th class="table-header" style="border-left: 1px solid #C7C7CB;">Name</th>
					<th class="table-header" style="border-left: 1px solid #C7C7CB;">Phone Number</th>
					<th class="table-header" style="border-left: 1px solid #C7C7CB;">Degree</th>
					<th class="table-header" style="border-left: 1px solid #C7C7CB;">Course</th>
					<th class="table-header" style="border-left: 1px solid #C7C7CB;">Amount</th>
				</tr>
			</thead>
			<tbody>
				<tr>
				<td class="table-data" style="border-left: 1px solid #C7C7CB;">001</td>
					<td class="table-data" style="border-left: 1px solid #C7C7CB;">Bride</td>
					<td class="table-data" style="border-left: 1px solid #C7C7CB;">2</td>
					<td class="table-data" style="border-left: 1px solid #C7C7CB;">No</td>
					<td class="table-data" style="border-left: 1px solid #C7C7CB;">$700</td>
					<td class="table-data" style="border-left: 1px solid #C7C7CB;">$1,440</td>
				</tr>
				<tr>
				<td class="table-data" style="border-left: 1px solid #C7C7CB;">002</td>
					<td class="table-data" style="border-left: 1px solid #C7C7CB;">Bride</td>
					<td class="table-data" style="border-left: 1px solid #C7C7CB;">1</td>
					<td class="table-data" style="border-left: 1px solid #C7C7CB;">No</td>
					<td class="table-data" style="border-left: 1px solid #C7C7CB;">$75</td>
					<td class="table-data" style="border-left: 1px solid #C7C7CB;">$75</td>
				</tr>
				<tr>
				<td class="table-data" style="border-left: 1px solid #C7C7CB;">003</td>
					<td class="table-data" style="border-left: 1px solid #C7C7CB;">Bride</td>
					<td class="table-data" style="border-left: 1px solid #C7C7CB;">6</td>
					<td class="table-data" style="border-left: 1px solid #C7C7CB;">No</td>
					<td class="table-data" style="border-left: 1px solid #C7C7CB;">$1,000</td>
					<td class="table-data" style="border-left: 1px solid #C7C7CB;">$6,000</td>
				</tr>
			</tbody>
		</table>