<html>
<head>
<meta charset="utf-8">
<title>MER</title>
<meta name="description" content="">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<link rel="shortcut icon" type="image/png" href="../images/favicon.ico">
<link rel="stylesheet"
	href="../components/angular-material/angular-material.css" />
<link rel="stylesheet"
	href="../components/mdi/css/materialdesignicons.css" />
<link rel="stylesheet"
	href="https://cdn.materialdesignicons.com/1.1.34/css/materialdesignicons.min.css" />
<link rel="stylesheet"
	href="../components/angular-loading-bar/build/loading-bar.css" />
<link rel="stylesheet" href="../css/bootstrap.css" />
<link rel="stylesheet" href="../css/app-cyan.css">

<script src="../components/jquery/dist/jquery.min.js"></script>
<script src="../components/angular/angular.js"></script>
<script src="../components/angular-animate/angular-animate.js"></script>
<script src="../components/angular-aria/angular-aria.js"></script>
<script src="../components/angular-material/angular-material.js"></script>
<script type="text/javascript">
var app = angular.module('LoginModule', ['ngMaterial'                               ])
.controller('LoginController', function($scope){
});

</script>
</head>
<body ng-app="LoginModule" ng-controller="LoginController">
	<div class="login-overlay">
		<div class="logo">
			Material <br> <span class="smaller">Dashboard</span>
		</div>
		<div class="form-container shadow">
		<div class="icon">
			<i class="mdi mdi-account-circle"></i>
			<div class="header">
				Sign Up
			</div>
		</div>
		<div class="inputs">
			<form style="display: flex; justify-content: center;">
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
					<md-input-container >
	                    <input ng-model="user.name" type="text" placeholder="name">
	                </md-input-container>
				</div>
			</form>
			<form style="display: flex; justify-content: center;">
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
					<md-input-container >
	                    <input ng-model="user.mail" type="email" placeholder="email">
	                </md-input-container>
				</div>
			</form>
			<form style="display: flex; justify-content: center;">	
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
					<md-input-container >
	                    <input ng-model="user.password" type="password" placeholder="password">
	                </md-input-container>
				</div>
			</form>
			<form style="display: flex; justify-content: center;">	
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
					<md-input-container >
	                    <input ng-model="user.password2" type="password" placeholder="confirm password">
	                </md-input-container>
				</div>
			</form>
			<div class="buttons">
				
				<md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">
	                Remember Me
	            </md-checkbox>
				<span class="signup">
					<a ui-sref="logIn">Login here</a>
				</span>
				<div class="link">
					<div class="link" style="padding-bottom:0;">
						<md-button class="md-raised primary" ui-sref="logIn"> Signup </md-button>
					</div>					
				</div>
			</div>
		</div>
	</div>
	<footer class="login-footer">
		<div class="left-section">
			&copy; Material Dashboard Theme
		</div>

		<div class="right-section">
			Terms and Conditions Apply
		</div>
	</footer>
	</div>
</body>
</html>

